/*---- default settings ----*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.i-default {
    color: #2487ce;
    margin-right: 0.2em;
}

.test-icon {
    color: #a6c9df;
}

.deep-blue {
    color: #124265;
}

.btn-deep-blue {
    background-color: #124265; 
} 

/*---- hero section ----*/

.navbar {
    position: fixed;
    width: 100%;
    z-index: 50;
}

.navbar a {
    text-decoration: none;
}

.navbar .navbar-nav .nav-item:hover {
    color: #2487ce;
}

.top-hero-section {
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.8),rgba(255, 255, 255, 0.8)), url("../img/hero-bg.jpg") no-repeat;    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.top {
    padding: 100px 0;
}

#cards-section .card {
    border: none;
}

#cards-section .card-body {
    box-shadow: 0 0 29px 0 rgb(18 66 101 / 8%);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
}

#cards-section .card-body:hover {
    transform: scale(1.08);
}

/*---- about-us section ----*/

#about-us-section {
    margin: 7em 0;
}

.about-header h4 {
    font-size: 2rem;
    margin-bottom: 0.7em;
}

.about-header p {
    margin-bottom: 2em;
}

.about-content ul li {
    list-style: none;
}

#learnmore {
    padding: 0.5em 2em;
}

/*---- experience section ----*/

#experience-section {
    background-color: #ecf7f4;
}

.exp-content h2 {
    color: #124265
}

.exp-content p {
    font-size: 1.2rem;
}

/*---- display section ----*/

.display {
    margin: 6em 0;
}

.display-image img {
    height: 100%;
}

.display-content h6 {
    color: #124265;
}

.display-content ul li {
    list-style: none;
}

.display-content ul li,
.display-content p {
    font-size: 16px !important;
}

.display-content ul li img {
    margin-right: 0.2em;
}

/*---- sponsor section ----*/

#sponsor-section img {
    max-width: 45%;
    filter: grayscale(100);
    transition: all 0.4s ease-in-out;
}

#sponsor-section img:hover {
    filter: grayscale(0);
    transform: scale(1.15);
}

/*---- testimonial section ----*/

.testimonial-header h3 {
    color: #124265;
    margin-bottom: 0.9em;
}

.swiper-wrapper {
    padding-bottom: 3em;
}

.testimony {
    background: #f3f9fd;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.testimony i {
    font-size: 22px;
}

.testifier img {
    height: 100px;
    width: 100px;
}

.testifier h6 {
    font-size: 14px;
}

/*---- services section ----*/

#services-section {
    background-color: #f8fbfe;
    margin-top: 100px;
    padding: 80px 0;
}

.contents {
    padding: 60px 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 90px 0px rgb(110 123 131 / 5%); 
}

.contents:hover {
    box-shadow: 0px 0 35px 0 rgb(0 0 0 / 8%);
}

.content-image {
    text-align: center;
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.content-image svg {
    position: absolute;
    top: 0;
    z-index: 2;
}

.content-image i {
    font-size: 40px;
    z-index: 20;
} 

.icon-blue:hover .content-image path {
    fill: #47aeff;
}

.icon-blue:hover i {
    color: #fff;
}

.icon-orange i {
    color: #ffa76e;
}

.icon-orange:hover .content-image path {
    fill: #ffa76e;
}

.icon-orange:hover i {
    color: #fff;
}

.icon-pink i {
    color: #e80368;
}

.icon-pink:hover .content-image path {
    fill: #e80368;
}

.icon-pink:hover i {
    color: #fff;
}

.icon-yellow:hover .content-image path {
    fill: #ffbb2c;
}

.icon-yellow:hover i {
    color: #fff;
}

.icon-deep-orange i {
    color: #ff5828;
}

.icon-deep-orange:hover .content-image path {
    fill: #ff5828;
}

.icon-deep-orange:hover i {
    color: #fff;
}

.icon-light-blue:hover .content-image path {
    fill: #11dbcf;
}

.icon-light-blue:hover i {
    color: #fff;
}

/*---- cta section ----*/

#cta-section {
    background-color: #2487ce;
}

.cta-button button:hover {
    color: #2487ce;
}

/*---- portfolio section ----*/

.port-nav ul {
    list-style: none;
}

.port-nav ul li a {
    text-decoration: none;
}

.port-nav ul li:hover {
    color: #2487ce;
}

.portfolio-info {
    display: none;
}